/.ipynb_checkpoints
/admissions.csv
/classification.csv
/College.csv
/Day10.csv
/Day11.csv
/day11.xlsx
/day3.xlsx
/Day32.csv
/Day4.csv
/Day41.csv
/Day42.csv
/Day6.csv
/Day61.csv
/Day7.csv
/Day9.txt
/Decision Tree basics.pdf
/Decision Tree.pdf
/heart.csv
/HousingData.csv
/Iris.csv
/KNN.pdf
/logistic regression.pdf
/Logistic regression.ppsx
/LR-multiple-variable.xlsx
/Naïve Bayes.pdf
/practice-areas-LR.xlsx
/practice_linear_regression.xlsx
/prediction.csv
/regression and types.pdf
/regression basics.pdf
/students.xlsx
/SVM.pdf
/Titanic.csv
/used_cars.csv
/winequality.csv